#!/usr/bin/env python3.5
import os

MY_EXTERNAL_IP="1234"
SECONDS_IN_DAY = 86400
MAX_ZONES = 16
HOME = os.environ['HOME']

MAX_NEW_FILES = 2 # Number of recent raw log files that are reprocessed into summary json
LOGROTATE_PER_DAY = 4
DAYS_LOOKBACK = 90 # Days of data to store in the pumprates file. Perf penalty if too large
START_FROM_EPOCH = 1539161991 # 2018-10-10-01-59-51 # Data prior in summary file, but is very corrupt
START_FROM_EPOCH = 1541055600 # 2018-11-01-00-00-00 # The really good data.
MIN_DRIP_PLOT_TIME = 189

TUYA_LOG_BASE = '{}/tuya_logs/tuya_logs.csv'.format(HOME)
JSON_SUMMARY_FILE = '{}/tuya_logs/summary.json'.format(HOME)
JSON_SUMMARY_PATCH_FILE = '{}/tuya_logs/summary.json'.format(HOME) # When debugging, use a different name
RACHIO_EVENTS_CMD = '{}/bin/WaterMonitoring/get_rachio_events.js'.format(HOME)
JSON_PUMPRATES_FILE = '{}/tuya_logs/pump_rates.json'.format(HOME)

EMAIL_FROM = 'user_from@gmail.com'
EMAIL_TO = 'user_to@gmail.com'
ALWAYS_EMAIL = False
DAYS_EMAIL_REPORT = 14
MIN_SPRINKLER_ZONE_ALERT_TIME = 600
MIN_DRIP_ZONE_ALERT_TIME = 1800
MIN_MISC_ZONE_ALERT_TIME = SECONDS_IN_DAY
ALERT_THRESH = 1.18 # ie: 18% higher than average
PUMP_ALERT = 22 # If pump cycles off faster than this, than alert. Note pump is only logged every 6 seconds.
PUMP_TOGGLES_COUNT = 25

GMAIL_USERNAME = 'user_from'
GMAIL_PASSWORD = 'XXX'

FOSCAM_NODES={'Frontyard':    "192.168.1.51",
              'MainEntrance': "192.168.1.52",
              'Backyard':     "192.168.1.53",
              'Kitchen':      "192.168.1.54",
              'Garage' :      "192.168.1.55"}
FOSCAM_USERNAME="user_from"
FOSCAM_PASSWORD="YYY"

WINDOWS_NODES={'Alpha': "192.168.1.100"}
WINDOWS_USERNAME="user_from"
WINDOWS_PASSWORD="YYY"
