#!/bin/bash
# One step at a time, Centralize all hardcoding into one place. Then we'll get rid of multiple copies of data. 

export TUYA_ID="0000"
export RACHIO_API_KEY="000"
export RACHIO_ID="000"

# Purge foscam config. 
export FOSCAM_DIR="/mnt/IPCam_Data"
export PURGE_AFTER_DAYS=90         # Days to keep the files
export MIN_ACTIVE_DEVICES=<UPDATE> # Number of foscams deployed
export MAX_FILES_PER_YARD_NODE=75  # Oh no! cobwebs! 

